
.switch-language {

  cursor: pointer;

  min-width: rem(80px);

  font-size: $font-m;

  @include Phone {
    position: fixed;
    top: rem(7px);
    right: rem(-4px);
  }

  &__option {

    padding: rem(7px);
    background-color: $palette-color2;

    &:hover {
      background-color: $palette-color4;
      color: $black;
    }

    &--selected {
      background-color: $palette-color1;
      &:hover {
        background-color: $palette-color1;
        color: $white;
      }
    }
  }
}

