
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

.app-container {
  max-width: rem(1024px);
  margin: 0 auto;
  font-family: 'Comfortaa', cursive;

  .block {
    margin: rem(15px) 0 0;
  }

}