
.header {

  user-select: none;

  color: $white;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  @include Phone() {
    flex-flow: column nowrap;
    justify-content: center;
  }

  min-height: rem(100px);

  &__title {

    min-width: rem(435px);

    font-size: $font-xl;

    @include Tablet {
      font-size: $font-l;
    }

    @include Phone {
      min-width: inherit;
      font-size: $font-m;
    }

    text-transform: uppercase;

    display: flex;
    align-items: center;

    &:before,
    &:after {
      content: "";
      position: relative;
      display: block;
      width: 5rem;
      background-color: transparent;
      height: 4px;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      top: 50%;
      margin-bottom: -4px;
    }

    &:before {
      left: -.5rem;
    }

    &:after {
      right: -.5rem;
    }

  }

}