
 /* Main Palette */
 $palette-color1: #05386b;
 $palette-color2: #379683;
 $palette-color3: #5cdb95;
 $palette-color4: #8ee4af;
 $palette-color5: #edf5e1;


 /* Common colors */
 $white: $palette-color5;
 $pure-white: #fff;
 $navigation-underline-color: $palette-color5;
