
@import "colors";

.divider {
    width: 100%;
    height: rem(2px);
    background-color: $palette-color1;
    margin: rem(3px) rem(1px);
    // background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}