
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

body {

  font-family: 'Comfortaa', cursive;
  font-size: $font-standart;

  background-color: $palette-color3;

}

.mix-margin {
  margin: rem(15px) 0 0;

  @include Tablet {
    margin-top: $block-margin-tablet;
  }

  @include Phone {
    margin-top: $block-margin-phone;
  }
}