
/* Font Sizes */
$font-standart: 16px;
$font-s: rem(12px);
$font-m: rem(18px);
$font-l: rem(24px);
$font-xl: rem(36px);

/*  Screen Sizes    */
$screen-xs-min: rem(375px);
$screen-xs: rem(540px);
$screen-sm-min:  rem(768px);
$screen-xs-max: ($screen-sm-min - 1);
$screen-tablet-max:  rem(1024px);
$screen-lg:  rem(1200px);
$screen-xl:  rem(1440px);

/* Margins */
$block-margin: rem(15px);
$block-margin-tablet: rem(12px);
$block-margin-phone: rem(8px);
