/*  Functions  */
$default-font-size: 16px;
@function rem($pixels, $context: $default-font-size) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}

  /* Colors */
$main-color: #DEB887;
$white: #fff;
$navigation-underline-color: $main-color;

/* Sizes */
$tiny-font-size: rem(10px);
$thick: 3px;
$pad: 0.7em;
$extra: calc(#{$pad} * 1.2);

/*  Screen Sizes    */
$screen-xs-min: 375px !default;
$screen-xs: 540px !default;
$screen-sm-min: 768px !default;
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-tablet-max: 1024px !default;
$screen-lg: 1200px !default;
$screen-xl: 1440px !default;
